.App {
  text-align: center;
}

.buttons {
  position:relative;
  width: 700px;
  height: 100px;
  margin: 20px;
  padding: 20px;
}

.first-button {
  margin-right: 20px;
}

.title { 
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: .15em;
}
